/*#009739 = cor1
#FFDF00 = cor2
white= cor3
#002278= cor4*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --main-color:#009739 ;
  --accent-color:#FFDF00;
  --heading-color:#002278;
}

body {
  font-family: 'Roboto',Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, var(--main-color) , var(--accent-color));
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  height: auto;
}

.hero picture {
  width: 100%;

}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  
}

section {
 position: static;
 width: 100%;
 margin:10px 0;
 text-align: center;
}

.data {
  top: 20px;
  left: 20px;
}

.weather {
  bottom: 20px;
  right: 20px;
}
.weather img {
  width: 40px;
  display: block;
  margin: 10px auto;
}

    
    



@media (min-width: 768px) {
  .weather h2::after {
    content: " ⛅";
    font-size: 20px;
    margin-left: 10px;
  }
  .hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
 }

 .hero picture {
  width: 100%;
  height: 100%;
  display: block;
  }

 .hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
 }

 section {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  width: 220px;
  border-radius: 5px;
  text-align: left;
 }

 .data {
  top: 20px;
  left: 20px;
 }

 .weather {
  bottom: 20px;
  right: 20px;
 }
 .weather h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
 }
 .weather img {
  display: none;

  }
}
section h2 {
  background:var(--heading-color);
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background:var(--main-color);
  color: white;
}